/* Resetting default styles */
body, h1, h2, p, ul, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    background-color: #89c2f7;
    color: #463636;
    padding: 20px;
}

/* Styling for headers */
h1 {
    text-align: center;
    color: #41363a;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
    font-size: 1.5em;
}

/* Paragraph style */
p {
    font-size: 1em;
    margin: 10px 0;
}

/* Links style */
a {
    color: #ff0800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for unordered lists */
ul {
    margin: 10px 0;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

/* Styling for table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Styling for images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
